<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   Search the {{ title }} Universe
  </h1>
  
  <form [formGroup]="searchForm" (ngSubmit)='submit()'>

    <hr>
    <select class="dropDown" name="search" formControlName="menu">
      <option value="people">People</option>
      <option value="ships">Ships</option>
      <option value="films">Films</option>
    </select>
    <input type="text" formControlName="getInfo">
    <button>Submit</button>
  </form>

  <!-- <div *ngIf="sws"> -->
  <div *ngFor="let sw of sws"></div>
    <p>{{this.sw | json}}</p>
  </div>
